.container-cardAch{
    background-color: #EDEDED;
    box-sizing: border-box;
    cursor: pointer;
    height: 500px;
    margin-bottom: 50px;
    max-width: 340px;
    transition: ease-in-out 0.5s;
   &:hover{
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
        transform: scale(1.1);
   }
   .ach-image{
       background-position: center;
       background-size: cover;
       height: 70%;
       position: relative;
       width: 100%;
       .date{
            color:#E3E8EE;
            position: absolute;
            background-color: #4c6873c0;
            border-radius: 4px;
            bottom:10px;
            left: 10px;
            padding: 5px;
            text-transform: uppercase;
       }
   }
   .ach-txt{
        height: 30%;
        padding: 20px 20px 0;
       .ach-tit-card{
            font-size: 30px;
            font-weight: 200;
       }
   }
}