@import "../common/variables";

.nav-menu{
    background-color: #4C6873;
    box-sizing: border-box;
    font-family: $txt;
    height: 55px;
    opacity: 0.9;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
